{% extends "layout.html" %}
{% block title %}
PODS KCL Survey
{% endblock %}
{% block bodyattributes%}
onload = start();
{% endblock %}

{% block content %}


        <h1>Let's try this out</h1>
        <h4 style="margin-right: 5em; margin-left: 5em; margin-top: 2em; margin-bottom: 2em;">
                On each page you'll see this game at the bottom of the screen. In this game you'll click the indicated number
                as it floats across the screen. Watch out - the number will keep changing throughout the questions! 
                <br>
                You'll be playing this game on every page - your first priority should be to look at and interact with the graphs 
                you see on each page. Your second priority
                will be playing this game!
                 Click next when you're ready to move ahead.
        </h4>

      <br>

      <div>
        <canvas id='canvas' width="400" height="200" style='outline: 1.5px black solid; margin-bottom: 1em;'></canvas>
        <script type="text/javascript" src="{{ url_for('static', filename='js/game.js')}}"></script>

      </div>


        <p><a href="{{ url_for('training_bp.BC') }}"><button class="w3-button w3-blue-gray w3-round-xlarge w3-margin-bottom">Next</button></a></p>

        
        <div class="w3-container center" style="margin-bottom: 15px">
                <ol class="custom-progress-bar">
                    <li class="is-active"><span>Intro</span></li>
                    <li><span>Part 1 Example</span></li>
                    <li><span>Part 1</span></li>
                    <li><span>Part 1</span></li>
                    <li><span>Part 1</span></li>
                    <li><span>Part 2 Instructions</span></li>
                    <li><span>Part 2</span></li>
                    <li><span>Last Question</span></li>
                    <li><span>End</span></li>
                </ol>
        </div>
       


{% endblock %}