{% extends "layout.html" %}
{% block title %}
PODS KCL Survey
{% endblock %}
{% block bodyattributes%}
onload = start();
{% endblock %}

{% block content %}

<h1>Great job!</h1>
<h4>Now we'll start with the real questions - remember to play the game as you transition 
    between charts!
    <br>
    <br>
    Click Next when you're ready
</h4>

<div>
    <canvas id='canvas' width="400" height="200" style='outline: 1.5px black solid; margin-bottom: 1em;'></canvas>
    <script type="text/javascript" src="{{ url_for('static', filename='js/game.js')}}"></script>

  </div>


<p><a href="/BC/1"><button class="w3-button w3-blue-gray w3-round-xlarge w3-margin-bottom">Next</button></a></p>

<div class="w3-container center" style="margin-bottom: 15px">
    <ol class="custom-progress-bar">
        <li class="is-complete"><span>Intro</span></li>
        <li class="is-active"><span>Part 1 Example</span></li>
        <li><span>Part 1</span></li>
        <li><span>Part 1</span></li>
        <li><span>Part 1</span></li>
        <li><span>Part 2 Instructions</span></li>
        <li><span>Part 2</span></li>
        <li><span>Last Question</span></li>
        <li><span>End</span></li>
    </ol>
</div>

{% endblock %}