<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <script src="https://d3js.org/d3.v4.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css')}}" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto'>
    </head>

    <body>
        <div class="w3-container center" style="margin-top: 300px">

            <div id="mycard" class="w3-card w3-white w3-center">
                <div class="w3-container w3-blue-gray"><p></p></div>
                {% block content %}
                {% endblock %}

        
            </div>
        

    </body>
</html>