{% extends "layout.html" %}
{% block title %}
PODS KCL Survey
{% endblock %}
{% block content %}


<h1>Welcome!</h1>
<h5>Key Information:</h5>
<p style="margin-left: 7em; margin-right: 7em;">
   This is where I will ask for consent! </p>
   


          <!-- <form method="post">
            <div class="form-group" id="div_checkbox">
             <label class="control-label requiredField" for="checkbox" style="pointer-events: none; margin: 2em;">
              <b>By ticking the below box I confirm that I am 16 years old or above, I have read and understood the information provided to me, 
                  and I agree to take part in this research project.</b>
              <span class="asteriskField">
               *
              </span>
             </label>
             <div class=" ">
              <label class="checkbox-inline">
               <input name="checkbox" type="checkbox" value="I agree"/>
               I agree
              </label>
             </div>
            
            <div class="form-group">
             <div>
              <button class="btn btn-primary " name="submit" type="submit">
               Next
              </button>
             </div>-->
           
           </form>
  



<h5 style="margin-right: 7em; margin-left: 7em;">By checking the box, you are confirming that you are above the age of 18, have read and understood the above
    information, and you agree to take part in the research. Your participation is voluntary and you are free to 
leave at any time by simply closing the web broswer. </h5>


<p id="next_btn" style="padding: 5px;" type=button><a href="{{ url_for('dems') }}"><button class="w3-button w3-blue-gray w3-round-xlarge w3-margin-bottom">Next</button></a></p>


<label for="myCheck" style="font-size: larger; pointer-events: none;">I agree</label>
    <span class="asteriskField" style="font-size: larger;">
        *
    </span>
<input type="checkbox" id="myCheck" onclick="myFunction()"/>



<script>
    $(document).ready(function() {
    
    var $button= $("#next_btn").hide(),
        $cbs = $('input[id="myCheck"]').click(function() {
            $button.toggle( $cbs.is(":checked") );
        });

});
</script>



{% endblock %}