{% extends "layout.html" %}
{% block title %}
PODS KCL Survey
{% endblock %}
{% block content %}



<h1>Practically Done!</h1>

<div class="bootstrap-iso">
    <div class="container-fluid">
     <div class="center">
        <form method="post">
            <div class="form-group" id="div_diff1">
                <label class="control-label " for="diff1" style="pointer-events: none;">
            <h4><b>How difficult was Part 1 (recalling bar heights) for you?</b></h4>
                </label>
            <div class="">
                <label class="radio-inline">
                    <input name="diff1" type="radio" value="Easy"/>
                    Easy
                </label>
                <label class="radio-inline">
                    <input name="diff1" type="radio" value="Fairly Easy"/>
                Fairly Easy
                </label>
                <label class="radio-inline">
                <input name="diff1" type="radio" value="Neither"/>
                    Neither
                </label>
                <label class="radio-inline">
                    <input name="diff1" type="radio" value="Fairly Difficult"/>
                Fairly Difficult
                </label>
                <label class="radio-inline">
                <input name="diff1" type="radio" value="Difficult"/>
                Difficult
                </label>
            </div>
            </div>
            <div class="form-group" id="div_diff2">
                <label class="control-label " for="diff2" style="pointer-events: none;">
                <h4><b>How difficult was Part 2 (paper folding game) for you?</b></h4>
                </label>
                <div class="">
                <label class="radio-inline">
                <input name="diff2" type="radio" value="Easy"/>
                Easy
                </label>
                <label class="radio-inline">
                    <input name="diff2" type="radio" value="Fairly Easy"/>
                Fairly Easy
                </label>
                <label class="radio-inline">
                    <input name="diff2" type="radio" value="Neither"/>
                Neither
                </label>
                <label class="radio-inline">
                    <input name="diff2" type="radio" value="Fairly Difficult"/>
                Fairly Difficult
                </label>
                <label class="radio-inline">
                    <input name="diff2" type="radio" value="Difficult"/>
                    Difficult
                </label>
                </div>
            </div>
        </form>
     </div>
    </div>
  </div>


           <h5>Click Next to see your results!</h5>

<p><a href="{{ url_for('end') }}"><button class="w3-button w3-blue-gray w3-round-xlarge w3-margin-bottom">Next</button></a></p>

<!--<script>
function sendData()
{
 //update database
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", "/getQuest", true);
  xhttp.send();
}
</script>-->

<div class="w3-container center" style="margin-bottom: 15px">
    <ol class="custom-progress-bar">
        <li class="is-complete"><span>Intro</span></li>
        <li class="is-complete"><span>Part 1 Example</span></li>
        <li class="is-complete"><span>Part 1</span></li>
        <li class="is-complete"><span>Part 1</span></li>
        <li class="is-complete"><span>Part 1</span></li>
        <li class="is-complete"><span>Part 2 Instructions</span></li>
        <li class="is-complete"><span>Part 2</span></li>
        <li class="is-active"><span>Last Question</span></li>
        <li><span>End</span></li>
    </ol>
</div>



{% endblock %}